.listagem {
    max-width: 200px;
}

.listagem .stand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background: #e586ad;
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: 0.15s ease-in-out;
}

.listagem .stand:hover {
    transform: scale(1.05);
  }
  
.listagem .stand img {
    width: 30%;
    Border-radius: 50%
}

.listagem .stand span {
    padding-right: 20px;
}

.listagem .stand.ativo {
    background: #e01b7b;
}



